.radio-container {
    display: flex;
    justify-content: space-around;
    background: #fff;
    border: 1px solid var(--main-txt-color);
    border-radius: 4px;
    padding: 5px;
    }

.radio-container label {
    background: transparent;
    border: 1px solid transparent;
    border-radius: 2px;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 0;
    text-align: center;
    transition: .2s all ease-in-out;
    width: 199px;
    cursor: pointer;
}
.radio-container input[type="radio"] {
    display: none;
}
.radio-container input[type="radio"]:checked + label {
    background: var(--detail-color);
    padding: 0 3px;
}
.book-photo button {
          border: none;
          border-radius: 50%;
          height: 45px;
          margin-right: 10px;
          outline: none;
          width: 45px;
      }

.book-photo button i {
          font-size: 20px;
      }

