textarea {
  font-size: 16px;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
  height: 100%;
  resize: none;
}
.list-button-box {
	text-align: right;
}
.list-book-title {
	font-weight: bold;
  text-transform: capitalize
}
.book-list li{
	display: flex;
	color: var(--detail-color);
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 15px;
	padding-bottom: 10px;
	font-family: var(--main-txt-font);
	border-bottom: 2px solid var(--second-color)
}
.vertical-align {
	padding-top: 4px;
  display: flex;
  margin-top: 3px;
  margin-left: 20px;
  width: 100%;
  font-size: 24px;
}
.vertical-align div > p {
  display: contents;
}

.book-item {
  justify-content: space-between;
  position: relative;
}
.book-item form {
  display: flex;
  flex-direction: row;
  flex: 3;
}
.list-view_textarea {
  flex-grow: 2;
}
.book-icon {
  margin-right: 15px;
}
.book-info {
  flex: 2;
  flex-direction: row;
  font-size: 25px;
}
.book-info p {
  display: inline-block;
}
.book-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-wrap: break-word;
}
.radio-box_list-view {
  flex-direction: column;
  margin: 0 10px;
  width: 35%;
}
.radio-container_list-view {
  flex-direction: column;
  background-color: lightgrey;
}
.edit .radio-container_list-view {
  background-color: white
}
.radio-container_list-view label {
  color: var(--second-color);
}
fieldset {
  display: contents;
}
