.bookcase-section {
	background-color: var(--main-txt-color);
	display: block;
	width: 100%;
	min-height: 420px;
	border-radius: 8px;
	padding: 20px
}
.book-card {
	margin: 3px;
	padding: 3px;
	height: 240px;
	width: 196px;
	font-family: var(--main-txt-font);
	color: var(--main-txt-color);
	text-align: center;
    border-radius: 4px;
    cursor: pointer
}
.book-inside {
	position: relative;
    top: -230px;
    padding: 10px;
    left: 50px;
    width: 135px;
    overflow-wrap: break-word;
}
.book-title {
	font-weight: 600;
	padding-bottom: 3px;
	margin-top: 15px;
	text-transform: capitalize
}
.card-container {
	display: flex;
	flex-flow: row wrap;
	font-size: 18px;
	margin: 10px 10px;
	padding: 10px 20px;
}
.add-card {
	background-image: url("../pics/rysunek-good.svg");
	background-repeat: no-repeat;
    align-items: center;
	height: 240px;
	padding-top: 10px;
	width: 196px;
    margin: 3px;
	padding: 3px;
    font-size: 80px;
    color: var(--main-txt-color);
    display: inline-block;
    opacity: .7;
	transition: opacity .5s;
	position: relative;
}
.plus-box {
	position: relative;
    top: 53px;
}
.fa-plus_box{
	padding-top: 54px;
    padding-left: 5px;
}
.add-card:hover i {
	color: var(--happy-txt-color)
}
.add-card:active i {
	color: var(--happy-txt-color-active)
}
.add-card:hover {
	opacity: 1;
}
.second-header {
	color: var(--main-bg-color);
	font-family: var(--title-font);
	font-size: 25px;
	font-weight: 600;
	letter-spacing: 2px;
}
.second-header-box {
	width: 100%;
    border-bottom: 7px solid var(--main-bg-color);
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
}
.book {
	opacity: .9;
	transition: opacity .1s;
	z-index: 5;
	position: relative;
}
.book:hover {
	opacity: 1;
}
.book-icon {
	font-size: 100px;
}
.book:hover div > button {
	opacity: 1
}
.button-box {
	position: absolute;
}
.button2 {
	background-color: inherit;
	outline: none;
	text-decoration: none;
	border: none;
	position: relative;
	cursor: pointer
}
.hidden {
	opacity: 0;
}
.buttons:active i {
	color: var(--happy-txt-color-active);
}
.buttons i{
	font-size: 31px;
	font-weight: bold;
	color: var(--happy-txt-color);
	font-weight: 700;
}

.book-quote-box {
	opacity: 0;
	background-image: url(../pics/dymek.svg);
	position: relative;
	bottom: -100px;
	background-size: cover;
	width: 200px;
	height: 170px;
	padding-top: 40px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	transition: opacity .5s
}
.book-card:hover .book-quote-box {
 	opacity: 1
 }

.quote-txt {
	display: none;
}
.editable .quote-txt {
	display: block;
}
