.hello_header {
    width: 600px;
    margin: 20px auto;
    margin-top: 100px;
}
.h_logo {
	text-align: center;
    font-size: 55px;
    font-weight: 600;

}
.t_box {
	margin-top: 40px;
    font-size: 20px;
    margin-bottom: 20px;
}
.t_main {
	text-align: center;
    line-height: 30px
}
.t_main > p {
	font-size: 21px
}
.btn-box {
	display: flex;
    justify-content: center;
    margin: 30px
}
.ind_btn_box {

    margin: 0 12px;}
