.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.social {
	margin-top: 5px;
}
.menu-box {
  color: var(--detail-color);
}
html {
    visibility: visible;
    opacity: 1;
}
